In [4]:
from path import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import hvplot.pandas
import plotly.express as px

In [7]:
# Loading data
file_path = Path("data/crops.csv")
crops_df = pd.read_csv(file_path)
crops_df.head()

,county_code,county_name,state_ansi,state_name,state_alpha,commodity_desc,state_fips_code,year,AREA HARVESTED,total_acres,total_imdemnity,total_events
0,21,BUENA VISTA,19,IOWA,IA,SOYBEANS,19,2018,143300,2128.633,87432,15
1,35,CHEROKEE,19,IOWA,IA,SOYBEANS,19,2018,133800,352.380,26361,9
2,41,CLAY,19,IOWA,IA,SOYBEANS,19,2018,128600,1421.760,261792,24
3,59,DICKINSON,19,IOWA,IA,SOYBEANS,19,2018,85800,1365.450,112899,9
4,63,EMMET,19,IOWA,IA,SOYBEANS,19,2018,88800,5030.940,345711,33

In [8]:
crops_df = crops_df.drop(columns=["state_alpha", "state_fips_code",'county_code','state_ansi'])
crops_df.tail()

,county_name,state_name,commodity_desc,year,AREA HARVESTED,total_acres,total_imdemnity,total_events
6672,JEFFERSON,INDIANA,SOYBEANS,2008,36400,41006.0,4482526,76
6673,JENNINGS,INDIANA,SOYBEANS,2008,47700,58376.0,4973006,88
6674,RIPLEY,INDIANA,SOYBEANS,2008,57600,68440.0,6739996,90
6675,SCOTT,INDIANA,SOYBEANS,2008,22100,20010.0,2017864,62
6676,SWITZERLAND,INDIANA,SOYBEANS,2008,9100,12320.0,1545044,56

In [9]:
soybeans = crops_df.set_index(['county_name','state_name','year'])
soybeans.head()

,,,commodity_desc,AREA HARVESTED,total_acres,total_imdemnity,total_events
county_name,state_name,year,,,,,
BUENA VISTA,IOWA,2018,SOYBEANS,143300,2128.633,87432,15
CHEROKEE,IOWA,2018,SOYBEANS,133800,352.380,26361,9
CLAY,IOWA,2018,SOYBEANS,128600,1421.760,261792,24
DICKINSON,IOWA,2018,SOYBEANS,85800,1365.450,112899,9
EMMET,IOWA,2018,SOYBEANS,88800,5030.940,345711,33

In [10]:
soybeans.sort_index(inplace=True)
soybeans.head()

                            commodity_desc  AREA HARVESTED  total_acres  \
county_name state_name year
ADAIR       IOWA       2008       SOYBEANS          105300      95256.0
                       2009       SOYBEANS           93900       2970.0
                       2010       SOYBEANS          101300       4434.0
                       2011       SOYBEANS          101900      13292.0
                       2012       SOYBEANS          105200     102302.0

                             total_imdemnity  total_events
county_name state_name year
ADAIR       IOWA       2008          8296336           108
                       2009           178286            32
                       2010           545538            48
                       2011          1179136            36
                       2012          9799064            46

In [11]:
soybeans = soybeans.drop(columns=['AREA HARVESTED', 'total_acres','commodity_desc'])
soybeans

                                     total_imdemnity  total_events
county_name     state_name     year
ADAIR           IOWA           2008          8296336           108
                               2009           178286            32
                               2010           545538            48
                               2011          1179136            36
                               2012          9799064            46
                               2013          8476286            70
                               2014          6315482            86
                               2015           636558            38
                               2016           121966            14
                               2017          1992104            38
                               2018            38040            15
ADAMS           ILLINOIS       2008         14603088           188
                               2009           927422            92
                               2010          2703246           104
                               2011          6651794           156
                               2012          5882488            72
                               2013          3737936           104
                               2014          3020588           102
                               2015          5509116            96
                               2016           289148            54
                               2017          1810782            88
                               2018           150432            33
                INDIANA        2008         11099716            78
                               2009           131364            32
                               2010           934560            76
                               2011           449018            54
                               2012           345488            40
                               2013            59758            16
                               2014           457484            22
                               2015          8812710            98
...                                              ...           ...
YADKIN          NORTH CAROLINA 2011           249340            50
                               2012           305700            46
                               2013           922634            60
                               2014           174716            34
                               2015          1082550            56
                               2016           386280            36
                               2017           281614            48
                               2018            51342            12
YELLOW MEDICINE MINNESOTA      2008         26426220           102
                               2009           327126            38
                               2010           652884            58
                               2011          6359972           114
                               2012          2562784            34
                               2013           896270            46
                               2014         10450872           106
                               2015           394496            30
                               2016           102918            16
                               2017          1571282            66
                               2018           542781            39
YORK            NEBRASKA       2008          2921550            96
                               2009           261808            36
                               2010           121174             8
                               2011           473458            52
                               2012          6131850            92
                               2013          1265650            66
                               2014          3158640            78
                               2015           440620            54
                               2016            88826            26
                               2017           246280            40
                               2018           189951            15

[6677 rows x 2 columns]

In [12]:
total_events=soybeans.hvplot(kind='bar',x='year', y='total_events',groupby=['state_name','county_name'], color='purple', title='Total Loss Events')
total_events

:DynamicMap   [state_name,county_name]
   :Bars   [year]   (total_events)

In [13]:
total_imdemnity=soybeans.hvplot(kind='bar',x='year', y='total_imdemnity', groupby=['state_name','county_name'], color='blue', title='Total Indemnity Amount').opts(yformatter="%.0f")
total_imdemnity

:DynamicMap   [state_name,county_name]
   :Bars   [year]   (total_imdemnity)