In [1]:
import pandas as pd
from utils.usda import USDA

Connecting to keys.db
Retrieved Keys
Connection to keys.db closed

In [2]:
usda = USDA('IA','SOYBEANS',2018)
sur = usda.crop_survey()

Passing key to query params..
Connecting to http://quickstats.nass.usda.gov/api/api_GET/?
Preparing dataframe
Success!

In [6]:
usda.loss_hist()

,statecd,countycd,countyname,year,statenbr,crop,imdemnityamt,totalacreloss,total_events,lossid,cropcode
1,IA,1,Adair,2014,19,SOYBEANS,3157741,33918,10,20141911,1
3,IA,1,Adair,2015,19,SOYBEANS,318279,5216,5,20151911,1
5,IA,1,Adair,2016,19,SOYBEANS,60983,1147,3,20161911,1
7,IA,1,Adair,2017,19,SOYBEANS,996052,11977,5,20171911,1
9,IA,1,Adair,2018,19,SOYBEANS,12680,416,4,20181911,1
...,...,...,...,...,...,...,...,...,...,...,...
960,IA,197,Wright,2014,19,SOYBEANS,9192768,94068,9,2014191971,1
962,IA,197,Wright,2015,19,SOYBEANS,152558,1889,4,2015191971,1
964,IA,197,Wright,2016,19,SOYBEANS,134109,2099,6,2016191971,1
966,IA,197,Wright,2017,19,SOYBEANS,273819,4707,5,2017191971,1
968,IA,197,Wright,2018,19,SOYBEANS,28189,924,2,2018191971,1